html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Alicerce
    link(href='index.css' rel='stylesheet' type='text/css')
  body
    h1 Alicerce

    h2 Typography

    hr
    h3 Font Size

    .font_size--xxx-large font_size--xxx-large
    .font_size--xx-large font_size--xx-large
    .font_size--x-large font_size--x-large
    .font_size--large font_size--large
    .font_size--medium font_size--medium
    .font_size--small font_size--small
    .font_size--x-small font_size--x-small
    .font_size--xx-small font_size--xx-small
    .font_size--xxx-small font_size--xxx-small

    hr
    h3 Font Weight

    .font_weight--bolder font_weight--bolder
    .font_weight--lighter font_weight--lighter
    .font_weight--thin font_weight--thin
    .font_weight--light-extra font_weight--light-extra
    .font_weight--light font_weight--light
    .font_weight--medium font_weight--medium
    .font_weight--regular font_weight--regular
    .font_weight--bold-semi font_weight--bold-semi
    .font_weight--bold font_weight--bold
    .font_weight--bold-extra font_weight--bold-extra
    .font_weight--black font_weight--black

    hr
    h3 Font Style
    .font_style--normal font_style--normal
    .font_style--italic font_style--italic
